[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.4"
colorama = "==0.4.4"
gunicorn = "==20.1.0"
itsdangerous = "==2.1.1"
Flask = "==2.0.3"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.1.0"
Werkzeug = "==2.0.3"
wtforms = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pandas = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
