<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method = 'post'>
        {{form.question.label}}
        {{form.question}}
        {{form.a.label}}
        {{form.a}}
        {{form.b.label}}
        {{form.b}}
        {{form.c.label}}
        {{form.c}}
        {{form.d.label}}
        {{form.d}}
        {{form.submit.label}}
        {{form.submit}}
    </form>
</body>
</html>